body{
  font-family: 'Arimo', sans-serif;
}
.wrapper{
  width: 510px;
  margin: auto;  
}
.title{
  text-align: center;
}
.frm fieldset{
  margin-bottom: 25px;
  padding: 10px 10px 30px;
}
.frm legend{
  width: 104.5%;
  height: 35px;
  line-height: 35px;
  background: #4b8df8;
  color: #fff;
  text-align: center;
}
.frm input,
.frm select{
  height: 28px;
  margin-right: 20px;
  background: #fff;
}
.frm .tx-dt{
  margin-right: 5px;
}
.frm .tx-tmp{
  width: 70px;
}
.frm .fa-plus{
  width: 15px;
  height: 28px;
  background: #35aa47;
  color: #fff;
}
.frm .bt-add{
  margin: 0 0 0 20px;
  background: #35aa47;
  color: #fff;
}
.bt-add:hover{
  background: #2C923C;
}
.bt,
.tb-log tbody tr{
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.bt:active{
  -webkit-transform: translate(1px, 1px);
  -moz-transform: translate(1px, 1px);
  -ms-transform: translate(1px, 1px);
  transform: translate(1px, 1px);
}
.bt:focus,
.bt:active{
  outline: 1px solid #000;
}

.bt-del{
  width: 25px;
  height: 25px;
  color: #fff;
  background: #C40F25;
  font-size: 14px;
}
.bt-del:hover{
  background: #880A1A;
}

hr{
  margin-bottom: 25px;
}

.tb-log{
  width: 100%;
  text-align: left;
  color: #7a7676;
}
.tb-log th{
  color: #292929;
  font-weight: bold;
  background-color: #cecece;
}
.tb-log th:last-child,
.tb-log tbody td:last-child{
  text-align: center;
}
.tb-log th,
.tb-log td{
  padding: 5px;
}
.tb-log tbody tr:nth-child(even){
  background: #eaeaea;
}
.tb-log tbody tr:hover{
  color: #363636;
  background: #BDBDBD;
}
.tb-log tfoot{
  text-align: left;
}
.tb-log tfoot td{
  padding: 15px 5px;
  text-align: center;
}
